---
import logo from "../assets/img/nollalinja.png";
import { Image } from "astro:assets";
---

<div
  id="loading"
  class="w-full h-[100vh] bg-black flex flex-row items-center opacity-100 justify-center z-[1001] fixed left-0 top-0"
>
  <Image
    id="image"
    class="max-w-[min(40vw,320px)]"
    src={logo}
    alt="Nollalinja logo"
  />
</div>

<script>
  window.onload = function () {
    //   @ts-ignore
    document.getElementById("loading").classList.add("animate-bg");
    //   @ts-ignore
    setTimeout(() => {
      // @ts-ignore
      document.getElementById("loading").style.display = "none";
    }, 1500);
  };
</script>
