---
interface Props {
  heading?: string;
  body1?: string;
  body2?: string;
  body3?: string;
  link?: string;
}

const { heading, body1, body2, body3, link } = Astro.props;
---

<div class="p-4 py-12 sm:p-12 md:p-16 xl:p-32 flex flex-row justify-center">
  <div class="max-w-[1248px]">
    <div
      class="text-[max(4vw,40px)] text-white font-condensed uppercase leading-[1.13]"
    >
      {heading}
    </div>
    <div class="flex flex-col lg:flex-row lg:gap-16">
      <div
        class="text-md leading-snug font-sans text-white pt-4 md:pt-8 max-w-screen-lg flex-1"
      >
        {body1}
      </div>
      <div
        class="text-md font-sans text-white leading-snug pt-4 md:pt-8 max-w-screen-lg flex-1"
      >
        {body2} {link &&<a href={link} class="underline bg-neutral-800 active:bg-neutral-600 hover:bg-neutral-700 transition-all">click here</a> }
      </div>
    </div>
  </div>
</div>
