---
interface Props {
  days: string;
  hours: string;
  minutes: string;
  seconds: string;
}

const { days, hours, minutes, seconds } = Astro.props;
---

<!doctype html>
<div id="countdown" class="text-white">
  <ul
    class="flex flex-row font-kondensed justify-center gap-2 text-white font-extrabold text-[max(10vmin,12px)] leading-none"
  >
    <li class="flex flex-col justify-end">
      <div id="days" class=""></div>
      <div class="text-blue uppercase font-bold text-[2vw] md:text-[1vw] mx-2 md:mx-4">
        {days}
      </div>
    </li>
    <div class="">:</div>
    <li class="flex flex-col justify-end">
      <div id="hours"></div>
      <div
        class="text-blue uppercase font-bold text-[2vw] md:text-[1vw] mx-2 md:mx-4"
      >
        {hours}
      </div>
    </li>
    <div class="">:</div>
    <li class="flex flex-col justify-end">
      <div id="minutes"></div>
      <div class="text-blue uppercase font-bold text-[2vw] md:text-[1vw] mx-2 md:mx-4">
        {minutes}
      </div>
    </li>
    <div class="">:</div>
    <li class="flex flex-col justify-end">
      <div id="seconds"></div>
      <div class="text-blue uppercase font-bold text-[2vw] md:text-[1vw] mx-2 md:mx-4">
        {seconds}
      </div>
    </li>
  </ul>
</div>

<script>
  function pad(n: number) {
    return (n < 10 ? "0" : "") + n;
  }

  (function () {
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    const countDown = new Date("2024-11-26").getTime(),
      x = setInterval(function () {
        const now = new Date().getTime(),
          distance = countDown - now;
        // @ts-ignore
        (document.getElementById("days").innerText = pad(
          Math.floor(distance / day)
        )),
          // @ts-ignore
          (document.getElementById("hours").innerText = pad(
            Math.floor((distance % day) / hour)
          )),
          // @ts-ignore
          (document.getElementById("minutes").innerText = pad(
            Math.floor((distance % hour) / minute)
          )),
          // @ts-ignore
          (document.getElementById("seconds").innerText = pad(
            Math.floor((distance % minute) / second)
          ));
        //seconds
      }, 1000);
  })();
</script>
