@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wght" 400;
  }
}

@font-face {
  font-family: "KurdisCondensed";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  src:
    url("/woff/KurdisCondensedExtraBold.woff") format("woff"),
    url("/woff2/KurdisCondensedExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Kurdis";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  src:
    url("/woff/KurdisExtraWideBold.woff") format("woff"),
    url("/woff2/KurdisExtraWideBold.woff2") format("woff2");
}
